@{
    ViewData["What"] = "";
}

<section class="hcf-bp-center hcf-bs-cover" style="padding-top: 180px; padding-bottom: 30px;">
    <div class="container" style="margin-top: 50px;">
        <div class="headertextsider">WHAT.?</div>
        <div class="container-fluid" style="max-width: 1180px;">
            <div style="margin-top: 130px;">
                <p class="contenttextsider">
                    <font style="color: #337e2d">My Board Games</font> er lavet, da to kammerater ikke kan beslutte sig for hvilket brætspil de skal spille.
                    <br />
                    Her skal man kun tage stilling til hvor mange personer man er.
                    <br />
                    <br />
                    <br />
                    .. man skal selvfølgelig også lige tage stilling til, om man vil have alt random,
                    <br />
                    eller om man selv vil vælge spil eller version og så karaktererne er tilfældige.
                    <br />
                    <br />
                    &#x2022 &#x2022 &#x2022
                    <br />
                    <br />
                    Websitet er lavet responsive vha. Bootstrap, så den tilpasses skærmstørrelsen på smartphones.
                    <br />
                    <br />
                    Der er lavet CRUD funktionalitet på både spil, version og karakterer.
                    <br />
                    Dog er det kun Read der kan tilgås her på websitet.
                    <br />
                    CUD kan tilgås via en desktop applikation, hvor der benyttes JWT Token til authorization.
                    <br />
                    <br />
                    Det hele er bygget op omkring en REST API, som tilgår MSSQL-databasen for at få en masse lækkert data ud.

                    <div class="contenttextsider" style="margin-top: 80px; font-weight: 800;">
                        simonandersen94@gmail.com &nbsp; &#x2022 &nbsp; 9000 Aalborg &nbsp; &#x2022 &nbsp; Datamatikerstuderende på UCN
                    </div>
                </p>


            </div>
        </div>
    </div>
</section>